:root {
  background-color: var(--light)
}

.btn-primary-smoof {
  background-color: rgba(0, 123, 255, 0.15);
  border-color: rgba(0, 123, 255, 0.15);
  color: #007bff;
}

.btn-primary-smoof:hover, .btn-primary-smoof:focus {
  background-color: rgba(0, 123, 255, 0.2) !important;
  border-color: rgba(0, 123, 255, 0.2) !important;
  color: #007bff !important;
}

.btn-info-smoof {
  background-color: rgba(23, 162, 184, 0.15);
  border-color: rgba(23, 162, 184, 0.15);
  color: #17a2b8;
}

.btn-info-smoof:hover, .btn-info-smoof:focus {
  background-color: rgba(23, 162, 184, 0.2) !important;
  border-color: rgba(23, 162, 184, 0.2) !important;
  color: #17a2b8 !important;
}

.btn-danger-smoof {
  background-color: rgba(220, 53, 69, 0.15);
  border-color: rgba(220, 53, 69, 0.15);
  color: #dc3545;
}

.btn-danger-smoof:hover, .btn-danger-smoof:focus {
  background-color: rgba(220, 53, 69, 0.2) !important;
  border-color: rgba(220, 53, 69, 0.2) !important;
  color: #dc3545 !important;
}

.btn:focus {
  box-shadow: 0 0 0 0 transparent !important;
}

.btn:active {
  animation: touch 0.1s;
}

.btn:hover:not(.no-elevate), .card-elevate:hover {
  transform: translateY(-3px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.btn:hover, .card-elevate:hover {
  transition: 0.2s;
}

* {
  text-decoration: none;
  color: var(--dark);
  outline: none !important;
}

.radius {
  border-radius: 20px
}

@keyframes touch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}